{
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "css",
	"singleAttributePerLine": true,
	"bracketSameLine": true,
	"jsxBracketSameLine": false,
	"jsxSingleQuote": true,
	"printWidth": 80,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"semi": false,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "none",
	"useTabs": true,
	"embeddedLanguageFormatting": "auto",

	"plugins": ["prettier-plugin-tailwindcss"]
}
